{% extends "layout.html.twig" %}

{% block body %}
	<h1>Bienvenue sur core distribution store
	</h1>

	<li>
		<a href="{{ path('store.show', {slug : 'articles-01'}) }}">Articles 1</a>
	</li>
	<li>Article 1
	</li>
	<li>Article 1
	</li>
	<li>Article 1
	</li>
{% endblock %}
